body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    background-image: url('images/bg.jpg');
    color: #e0e0e0;

    width: 100%;
}

button {
    min-width: 10rem;
    min-height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;

    color: #e0e0e0;
    transition: all 0.25s;
    transform: scale(1);
    background-color: #333;
    font-size: 1.5rem;
}

button:hover {
    transition: all 0.15s;
    transform: scale(1.1);

    color: #000000;
    background-color: #aaaaaa;
}

button:active {
    transition: all 0.15s;
    transform: scale(1.05);
}

header {
    width: 100%;
    top: 0;
    position: fixed;
    margin: 0;
    padding: 1rem;
    background-color: rgba(80, 80, 80, 0.5);
    text-align: center;
    backdrop-filter: blur(0.5rem);
    z-index: 1;
}

.container {
    max-width: 1000px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.5);
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 0;
}

hr {
    background-color: #1e1e1e;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
    color: rgb(170, 170, 170);
}
p {
    font-size: 1em;
}