/**
 * Stylesheet file defining CSS styles for the webpage.
 * 
 * Imports Google Fonts.
 * Sets background image and styles for body.
 * Centers content in main tag.
 * Styles header text.
 * Styles link buttons, including hover effect.
 * Aligns projects section.
 * Styles portfolio section.
 * Styles button titles and descriptions.
*/
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    background-image: url(images/bg.png);
}

img {
    width: 40px;
    height: 40px;
}

body {
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Comic Sans MS';
    font-size: 15px;
    color: white;
}

main {
    text-align: center;
}

header {
    font-size: 75px;
    font-weight: bolder;
    padding: 10px;
    font-family: 'Comic Sans MS';
    text-align: center;
}



h1 {
    font-weight: bolder;
    padding: 25px;
    font-size: 35px;
    transition: background-color 0.3s;
}

h1:hover {
    transition: background-color 0.3s;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 12px;
    color: rgba(81, 81, 81, 1);
}


a {
   
    max-width: 500px;
    height: auto;
    margin: 10px;
    transform: scale(1);
    border-radius: 50px;
    transition: transform 0.3s, background-color 0.3s;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 12px;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.1s, background-color 0.1s;
}




.button-title {
    display: flex;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 25px;
    color: white;
}

.button-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-size: 20px;
    color: white;
}

.background-hover {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    width: auto;
}

.background-hover:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}