@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    height: 100%;
}
body {
    align-content: center;
    align-items: center;
    align-self: center;
    font-family: "Bebas Neue";
    font-size: 25px;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
}

button {
    transition: transform 0.2s;
    margin: 3px;
    min-width: 35px;
    min-height: 30px;
    font-size: inherit;
    border-radius: 5px;
    border-style: none;
    background-color: #000000;
    color: white;
    transform: scale(1);
    font-family: inherit
}

button:hover {
    transform: scale(1.5);
    background-color: #373737;
    cursor: pointer;
}

button:active {
    transform: scale(1.25);
    background-color: #696969;
}

input {
    background-color: #000000;
    border-style: none;
    margin: 3px;
    color: white;
    height: 40px;
    width: 95%;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
    display: inline;
}

img {
    outline-style: solid;
    outline-width: 10px;
    outline-color: #000000;
    border-radius: 5px;
    background-color: #585858;
}

#keyboard {
    width: 415px;
    padding: 10px;
    background-color: #585858;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    color: inherit;
    outline-style: solid;
    outline-width: 10px;
    outline-color: #000000;
}
label {
    font-size: inherit;
    color: inherit;
}

#screen {
    background-color: #000000;
    border-radius: 5px;
    margin: 3px;
    color: white;
    min-height: 40px;
    font-size: inherit;
    text-align: center;
}